/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
    
 /* general */

body {
    font-family: 'Raleway', sans-serif;
}

a{
    text-decoration: none;
}

 *{
     box-sizing: border-box;
 }
 
 .container {
     max-width: 1200px;
     margin: 0 auto;
 }
 a:hover {
     cursor: pointer;
 }

 /* clearfix */

 .clearfix::after,
 .clearfix::before {
     content: "";
     display: table;
 }
 .clearfix::after {
     clear: both;
 }
 /* header */

 header a {
    
    color: whitesmoke;
 }
 .logo {
     float: left;
     font-weight: bold;
 }
.menu {
    float: right;
}
.head {
    padding: 20px;
    background-color: #5385C1;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.nav-menu {
    margin-left: 20px;
}

/* hero */

.hero {
    padding: 150px;
    background-color: #5385C1 ;
    text-align: center;
}
h1 {
    font-size: 40px;
    color: whitesmoke;
}
.hero p {
    color: whitesmoke;
    padding-top: 20px;
}

/* primary */

.primary-text {
    width: 33%;
    /* margin: 1.5%; */
    float: left;
    padding: 100px 50px;
}
h3 {
    font-size: 25px;
    color: #5385C1;
}
.text {
    /* padding-top: 20px;
    padding-bottom: 20px; */
    margin: 25px 0;
}
.btn {
    padding: 10px;
    color: whitesmoke;
    background-color: #5385C1;
    /* margin-top: 20px; */
}

/* detail */

.detail {
    background-color: #5385C1;
    padding-bottom: 30px;
}
h2 {
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
    padding-top: 20px;
    padding-bottom: 10px;
}
.text-secondary {
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    padding: 15px;
}
.box {
    width: 22%;
    margin: 1.5%;
    border: 1px solid whitesmoke;
    padding-top: 30px;
    float: left;
    text-align: center;
}
.picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 20px;
}
.desig {
    padding-bottom: 30px;
    color: whitesmoke;
}
.name {
    color: whitesmoke;
    font-weight: bold;
}

/* secondary */

.secondary h2 {
    color: #5385C1;
}
.do {
    text-align: center;
    color: black;
    /* padding-bottom: 50px; */
    font-size: 15px;
}
.done {
    color: black;
    padding-bottom: 50px;
    text-align: left;
}
.wrap {
    width: 45%;
    margin: 2%;
    float: left;
    padding: 20px;
}
h4 {
    color: #5385C1;
    font-size: large;
    padding: 20px;
}
.background {
    width: 100%;
    height: 248px;
}

/* Footer Section */
footer{
    padding: 20px 0;
}

.copyright{
    float: left;
    font-size: small;
}

.social-media{
    float: right;
}

footer div{
    padding: 10px 0;
    border-top: 1px solid lightslategrey;
}